{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="bg-red-500 text-white p-4 mb-4">{{ flash_error }}</div>
    {% endfor %}

    <div class="max-w-md mx-auto my-8 bg-white p-8 rounded-md shadow-md">
        <h1 class="text-3xl font-bold mb-6">Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstName, { 'attr': { 'class': 'form-input w-full mb-4 p-3 border border-gray-300 rounded', 'placeholder': 'Prénom' } }) }}
            {{ form_row(registrationForm.lastName, { 'attr': { 'class': 'form-input w-full mb-4 p-3 border border-gray-300 rounded', 'placeholder': 'Nom' } }) }}
            {{ form_row(registrationForm.email, { 'attr': { 'class': 'form-input w-full mb-4 p-3 border border-gray-300 rounded', 'placeholder': 'Adresse e-mail' } }) }}
            {{ form_row(registrationForm.plainPassword, { 'attr': { 'class': 'form-input w-full mb-4 p-3 border border-gray-300 rounded', 'placeholder': 'Mot de passe' }, 'label': 'Mot de passe' }) }}
            {{ form_row(registrationForm.agreeTerms, { 'label_attr': { 'class': 'flex items-center text-gray-700 mt-2' } }) }}

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-700 transition duration-300 mt-4">
                S'inscrire
            </button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
