{% extends 'base.html.twig' %}

{% block title %}Détail {{ employee.firstname }} {{ employee.lastname }}{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto my-8">
        <a href="{{ path('app_user_index') }}" class="text-blue-500 hover:underline my-4 inline-block">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>

        <h1 class="text-3xl font-bold mb-6">Détail {{ employee.firstname }} {{ employee.lastname }}</h1>

        <h2 class="text-2xl font-bold mb-4">Liste des sessions de travail ({{ workSessions|length }})</h2>
        <p class="text-lg font-bold mb-4">Temps de travail du mois en cours : {{ workTime.format('H:i:s') }}</p>
        
        {% if workSessions|length > 0 %}
            {% set sessionsByMonth = {} %}
            
            {% for worksession in workSessions|reverse %}
                {% set monthKey = worksession.startDate|date('F Y') %}
                
                {% if sessionsByMonth[monthKey] is not defined %}
                    {% set sessionsByMonth = sessionsByMonth|merge({ (monthKey): [worksession] }) %}
                {% else %}
                    {% set sessionsByMonth = sessionsByMonth|merge({ (monthKey): sessionsByMonth[monthKey]|merge([worksession]) }) %}
                {% endif %}
            {% endfor %}
            
            {% for month, sessions in sessionsByMonth %}
                <h3 class="text-xl font-bold mt-4">{{ month }}</h3>
                <ul>
                    {% for worksession in sessions %}
                        <li class="mb-2">
                            {{ worksession.startDate|date('d/m/Y H:i:s') }} - {{ worksession.endDate|date('d/m/Y H:i:s') }} - {{ worksession.duration.format('%hh%im%ss') }}
                        </li>
                    {% endfor %}
                </ul>

                <a href="{{ path('app_user_invoice', {'id': employee.id, 'month': month|date('M'), 'year': month|date('Y')}) }}" class="text-blue-500 hover:underline my-4 inline-block">
                    <i class="fas fa-file-invoice"></i> Générer la facture
                </a>
            {% endfor %}
        {% else %}
            <p>Aucune session de travail trouvée pour cet employé.</p>
        {% endif %}
    </div>
{% endblock %}
