{% extends 'base.html.twig' %}

{% block title %}Nouvelle session de travail{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto my-8">
        {% if work_session is defined %}
            <h1 class="text-3xl font-bold mb-4">Session de travail débutée le {{ work_session.startDate|date('Y-m-d H:i:s') }}</h1>
            <h2 class="text-xl font-semibold mb-4">Durée de la session : <span class="duration"></span></h2>
            <a href="{{ path('app_work_session_end', {'id': work_session.id}) }}" class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-700 transition duration-300">
                Terminer la session
            </a>
        {% endif %}

        <h2 class="text-xl font-semibold my-4">Liste des tâches à faire</h2>

        <table class="min-w-full border border-gray-300 mb-4 text-center">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Tâche</th>
                    <th class="py-2 px-4 border-b">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_task in tasks %}
                    <tr>
                        <td class="py-2 px-4 border-b">
                            {{ todo_task.title }}
                        </td>
                        <td class="py-2 px-4 border-b">
                            <a href="{{ path('app_task_done', {'id': todo_task.id, 'ws_id': work_session.id}) }}" class="bg-green-500 text-white px-4 py-2 rounded-full hover:bg-green-700 transition duration-300">
                                Fait
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="py-2 px-4 border-b">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="text-xl font-semibold my-4">Liste des tâches terminées</h2>
        {% for taskDone in tasksDone %}
            <p>{{ taskDone.title }}</p>
        {% else %}
            <p>Aucune tâche terminée</p>
        {% endfor %}

        <a href="{{ path('app_work_session_index') }}" class="text-blue-500 hover:underline mt-4 inline-block">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>
    </div>
    <script>
        var startDate = new Date('{{ work_session.startDate|date('Y-m-d H:i:s') }}');
        var duration = document.querySelector('.duration');

        setInterval(function() {
            var now = new Date();
            var diff = now - startDate;
            var seconds = Math.floor(diff / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);

            var displayHours = hours > 0 ? hours + ':' : '0';
            var displayMinutes = minutes > 0 ? (minutes < 10 ? '0' : '') + minutes + ':' : '00:';
            var displaySeconds = (seconds < 10 ? '0' : '') + seconds % 60;

            duration.innerHTML = displayHours + displayMinutes + displaySeconds;
        }, 1000);
    </script>
{% endblock %}

